@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model CommerceTraining.Models.ViewModels.PageViewModel<CommerceTraining.Models.Pages.StartPage>

<h2>
    @Html.PropertyFor(m => m.CurrentPage.Name)
</h2>


